<configuration>
  <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
  </appender>

  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>1024</queueSize>
    <neverBlock>true</neverBlock>
    <appender-ref ref="STDOUT"/>
  </appender>

  <root level="${LOG_LEVEL:-info}">
    <appender-ref ref="ASYNC"/>
  </root>
</configuration>
